
$primary-color-light: #7ed56f;
$primary-color: #55c57a;
$primary-color-dark: #28b485;


$color-dark-yellow: #ba9a0c;
$color-light-yellow: #ffef15;

$color-light-blue: #8406f2;
$color-dark-blue: #241b76;


$color-light-pink: #fc5c8c;
$color-dark-pink: #de00de;

$image-logo-path : "../img/hero.jpg";
$color-grey: #777;
$color-white: #fff;