.footer {
  width: 100%;
  height: 50vh;
  background-color: $color-grey-dark;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  &__logo {
    display: block;
    text-align: center;
  }

  &__info {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.6rem;
  }
}

.info-nav {
  flex: 0 0 40%;
  font-size: 1.5rem;

  .nav__items {
    // width: 100%;
    // height: 100%;
    text-decoration-style: none;
    display: inline-block;
    border-top: 1px solid rgba(183, 178, 178, 0.961);
    line-height: 2rem;
    padding-top: 2rem;
    

    .nav__item {
      padding-right: 0.3rem;
      display: inline-block;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        rotate: 20deg;
        scale: 1.5;
        color: $primary-color-dark;
      }
    }
  }
}

.copyright {
  flex: 0 0 30%;
  font-size: 1.4rem;
  height: 100%;
  display: inline-block;
  border-top: 1px solid rgba(183, 178, 178, 0.961);
  line-height: 2rem;
  padding-top: 2rem;
}

.author {
 
    text-decoration: none;
    padding: 0 0.5rem;
    display: inline-block;
    color: white;
    font-size: 2rem;
    transition: all 0.2s;

    &:hover {
      transform: rotate(10deg) scale(1.2);
      color: $primary-color-dark;
    }

}
