.header {
  height: 90vh;
  background-image: linear-gradient(
      to right,
      rgba($primary-color-light, 0.569),
      rgba($primary-color-dark, 0.761)
    ),
    url("../img/hero-small.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative;


  @media (min-resolution: 192dpi) and (min-width: 600px){
    background-image: linear-gradient(
      to right,
      rgba($primary-color-light, 0.569),
      rgba($primary-color-dark, 0.761)
    ),
    url($image-logo-path);
    
  }


  &__logo-container {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }

  &__logo {
    height: 4rem;
  }

  &__text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
