*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

/*
Screen Type
-> phone (less then 600px)
-> Tablet portrait: tab-port   (600 - 900px)
-> Tablet landscape: tab-land (900 - 1200px)
-> Normal laptop screen (1200 - 1800 px)
-> Big screen (greter then 1800px)
*/
html {
  font-size: 62.5%; }
  @media (max-width: 1200px) {
    html {
      font-size: 50%; } }
  @media (max-width: 900px) {
    html {
      font-size: 40%; } }
  @media (max-width: 600px) {
    html {
      font-size: 30%; } }
  @media (min-width: 1800px) {
    html {
      font-size: 70%; } }

body {
  padding: 3rem;
  background-color: #777;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  /* font-size: 1.6rem; */
  font-weight: 400;
  line-height: 1.7%;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  line-height: 1.7;
  margin-bottom: 5rem; }
  .heading-primary__main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 2s ease-out; }
  .heading-primary__sub {
    display: block;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1.5rem;
    animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-out; }

.secondary__heading {
  display: inline-block;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #19f519, green);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3.5rem;
  line-height: 3rem;
  margin-top: 20rem;
  transition: all .2s;
  margin-bottom: 8rem; }
  .secondary__heading:hover {
    transform: rotate(2deg);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.story__section__heading {
  display: inline-block;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #19f519, green);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3.5rem;
  line-height: 3rem;
  padding: 1rem; }

.subpart__heading {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2rem;
  margin-bottom: 2rem; }

.paragrap {
  font-size: 1.5rem; }

.paragrap:not(:last-child) {
  margin-bottom: 3rem; }

.lines__heading {
  font-size: 2rem;
  line-height: 1.5rem;
  margin-bottom: 2rem; }

.lines {
  font-size: 1.2rem;
  line-height: 1.4rem;
  column-count: 2;
  color-scheme: orangered;
  column-gap: 1rem;
  column-rule: 1px solid #777;
  hyphens: auto; }

@keyframes moveInLeft {
  0% {
    transform: translateX(-10rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    transform: translateX(0rem); } }

@keyframes moveInRight {
  0% {
    transform: translateX(10rem); }
  80% {
    transform: translateX(-2rem); }
  100% {
    transform: translateX(0rem); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  90% {
    opacity: 0.7;
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translateY(0rem); } }

.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5rem;
  display: inline-block;
  padding: 2rem;
  transition: all 0.3s;
  position: relative; }

.btn:hover {
  transform: translateY(-0.5rem);
  box-shadow: 1rem 1rem 2rem 0.7rem #a6a5a5; }
  .btn:hover::after {
    transform: scale(1.5);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0.5rem 0.5rem 2rem 0.3rem #a6a5a5; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #7ed56f;
  color: white; }
  .btn--green::after {
    background-color: #55c57a; }

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom 1s ease-out 1s backwards; }

.info-more:link, .info-more:visited {
  text-decoration: none;
  line-height: 1.5rem;
  font-size: 1.5rem;
  display: inline-block;
  color: #28b485;
  border-bottom: 1px solid #28b485;
  transition: all .2s; }

.info-more:hover {
  background-color: #7ed56f;
  transform: translateY(4px); }

.btn__book__tours {
  font-size: 1.5rem; }

.composition {
  position: relative;
  z-index: 10; }
  .composition__photos {
    width: 35%;
    position: absolute;
    outline-offset: 2rem;
    transition: all .2s;
    box-shadow: 2px 2px 1rem black; }
  .composition__photos--p1 {
    top: -1rem;
    left: 0; }
  .composition__photos--p2 {
    top: 2rem;
    left: 18rem; }
  .composition__photos--p3 {
    top: 10rem;
    left: 4rem; }
  .composition__photos:hover {
    z-index: 20;
    outline: 1rem solid #7ed56f;
    transform: scale(1.2) translateY(-2px);
    box-shadow: 3px 3px 1rem black; }

.cards {
  width: 100%;
  height: 50%; }
  .cards__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }

.card__item {
  position: relative;
  flex: 0 0 20%;
  margin-top: 2rem;
  perspective: 150rem;
  -webkit-perspective: 150rem;
  text-align: center; }
  .card__item:hover .card__item__front {
    transform: rotateY(-180deg); }
  .card__item:hover .card__item__back {
    transform: rotateY(0deg); }
  .card__item__side {
    left: 0;
    font-size: 2rem;
    width: 100%;
    top: 0;
    color: #2bb8b1;
    height: 30rem;
    backface-visibility: hidden;
    position: absolute;
    transition: all 2s;
    overflow: hidden;
    border-radius: 5px; }
    .card__item__side .card__image {
      background-size: cover;
      height: 15rem;
      width: 100%;
      background-blend-mode: color;
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
      .card__item__side .card__image--1 {
        background-image: linear-gradient(to right bottom, #ba9a0c, #ffef15), url("../img/nat-5.jpg"); }
      .card__item__side .card__image--2 {
        background-image: linear-gradient(to right bottom, #241b76, #8406f2), url("../img/nat-6.jpg"); }
      .card__item__side .card__image--3 {
        background-image: linear-gradient(to right bottom, #fc5c8c, #de00de), url("../img/nat-7.jpg"); }
    .card__item__side .card__heading {
      font-size: 2rem;
      font-weight: 300;
      position: absolute;
      color: white;
      width: 60%;
      top: 9rem;
      line-height: 2.4rem;
      right: 0rem;
      text-align: right; }
    .card__item__side .card__span {
      padding: 0.1rem 1.5rem;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone; }
      .card__item__side .card__span--1 {
        background-image: linear-gradient(to right bottom, #ba9a0c, #ffef15); }
      .card__item__side .card__span--2 {
        background-image: linear-gradient(to right bottom, #241b76, #8406f2); }
      .card__item__side .card__span--3 {
        background-image: linear-gradient(to right bottom, #de00de, #fc5c8c); }
  .card__item .card__detail ul {
    list-style: none;
    width: 80%;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1rem 0;
    color: black; }
    .card__item .card__detail ul li {
      height: 1.5rem;
      text-align: center;
      margin: 1rem;
      padding: 0.3rem 0.1rem; }
      .card__item .card__detail ul li:not(:last-child) {
        border-bottom: 1px solid lightgray; }
  .card__item__front {
    background-color: rgba(234, 230, 230, 0.968); }
  .card__item__back {
    transform: rotateY(180deg); }
  .card__item__back--c1 {
    background-image: linear-gradient(to right bottom, #ba9a0c, #ffef15); }
  .card__item__back--c2 {
    background-image: linear-gradient(to right bottom, #241b76, #8406f2); }
  .card__item__back--c3 {
    background-image: linear-gradient(to right bottom, #de00de, #fc5c8c); }

.card__cta {
  height: 30rem;
  padding: 5rem;
  color: white; }
  .card__cta__only {
    height: 4rem; }
  .card__cta__value {
    height: 4rem;
    font-weight: 400;
    font-size: 2.5rem;
    margin-bottom: 6rem; }
  .card__cta__book {
    height: 4rem; }

.bg-video {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: .35;
  z-index: -1;
  overflow: hidden;
  object-fit: cover; }
  .bg-video__content {
    width: 100%;
    height: 100%; }

.form {
  width: 100%;
  height: 100%; }
  .form__title {
    padding: 2rem; }

.formgroup {
  width: 80%;
  height: 10%;
  margin-left: 3rem; }
  .formgroup:not(:last-child) {
    margin-bottom: 2rem; }
  .formgroup__input {
    width: 40%;
    height: 3rem;
    display: block;
    padding-left: 1rem;
    font-size: inherit;
    color: inherit;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px; }
    .formgroup__input::-webkit-input-placeholder {
      color: darkgray; }
    .formgroup__input:focus {
      border-bottom: 2px solid red;
      outline: none; }
    .formgroup__input:valid {
      outline: none;
      border-bottom: 2px solid lightgreen; }
  .formgroup__label {
    display: block;
    font-size: inherit;
    color: inherit;
    transition: all .5s; }
  .formgroup__input:placeholder-shown + .formgroup__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-15px); }

.form__checkbox {
  display: inline-block;
  width: 20%;
  height: 100%;
  font-size: 1.6rem;
  cursor: pointer; }
  .form__checkbox__input {
    display: none; }
  .form__checkbox__input:checked ~ .form__checkbox__label .radio__btn::after {
    content: '';
    display: block;
    opacity: 1; }
  .form__checkbox__label {
    text-align: center;
    position: relative;
    padding-left: 3rem; }
    .form__checkbox__label .radio__btn {
      display: inline-block;
      position: absolute;
      width: 2rem;
      height: 2rem;
      top: 50%;
      left: 10%;
      transform: translate(-50%, -50%);
      border: 3px solid #28b485;
      border-radius: 50%; }
      .form__checkbox__label .radio__btn::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: #28b485;
        opacity: 0; }

.tour__details {
  height: 90vh;
  background-color: #fff;
  margin-top: -15rem; }
  .tour__details-title {
    text-align: center; }
  .tour__details .tour__info {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .tour__details .tour__info .info__detail {
      flex: 0 0 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      height: 20rem;
      margin-left: 15rem; }
      .tour__details .tour__info .info__detail .detail-subpart {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        line-height: normal;
        flex-wrap: wrap; }
    .tour__details .tour__info .info__images {
      flex: 1; }

.features {
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.569), rgba(40, 180, 133, 0.761)), url("../img/hero.jpg");
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -13rem;
  height: 90vh;
  clip-path: polygon(0 19%, 100% 0, 100% 80%, 0 100%); }
  .features .feature__item {
    background-color: white;
    height: 40%;
    width: 22rem;
    margin: 10rem 3rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    transition: all .2s; }
    .features .feature__item:hover {
      transform: translateY(5px);
      box-shadow: 0 1rem 2rem black; }
    .features .feature__item__heading {
      flex: 0 0 15%;
      font-size: 2rem;
      line-height: 2rem;
      text-align: center;
      text-transform: uppercase;
      display: inline-block; }
    .features .feature__item__text {
      flex: 1;
      font-size: 1rem;
      line-height: 1.5rem;
      text-align: left;
      padding: 0 2rem; }
    .features .feature__item__icon {
      width: 5rem;
      height: 5rem;
      fill: #28b485;
      flex: 0 0 35%; }

.tours {
  height: 90vh;
  background-color: #fff;
  margin-top: -15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .tours .tour__title {
    text-align: center; }

.story__section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: all .2s; }

.story {
  width: 55%;
  height: 30%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  transform: skewX(-25deg); }
  .story__face {
    width: 15rem;
    height: 15rem;
    background-color: red;
    clip-path: circle(50%);
    margin-right: 2rem;
    position: relative;
    transform: skewX(25deg); }
    .story__face:hover .face__name {
      transform: translate(-50%, -50%);
      opacity: 1; }
    .story__face:hover .face__image {
      scale: 1;
      filter: blur(3px) brightness(80%); }
    .story__face .face__image {
      width: 100%;
      height: 100%;
      transition: all .5s;
      object-fit: cover;
      scale: 1.4; }
    .story__face .face__name {
      position: absolute;
      transition: all .2s;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
      line-height: 2rem;
      color: white;
      font-size: 1.5rem;
      opacity: 0; }
  .story__text {
    height: 60%;
    width: 50%;
    line-height: 1rem;
    transform: skewX(25deg);
    overflow: hidden; }

.booking__form {
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: flex;
  justify-content: center;
  align-items: center; }
  .booking__form .book {
    width: 80%;
    height: 80%;
    object-fit: cover;
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url("../../img/nat-10.jpg"); }

.header {
  height: 90vh;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.569), rgba(40, 180, 133, 0.761)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative; }
  .header__logo-container {
    position: absolute;
    top: 2rem;
    left: 2rem; }
  .header__logo {
    height: 4rem; }
  .header__text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.footer {
  width: 100%;
  height: 50vh;
  background-color: rgba(54, 53, 53, 0.825);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white; }
  .footer__logo {
    display: block;
    text-align: center; }
  .footer__info {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.6rem; }

.info-nav {
  flex: 0 0 40%;
  font-size: 1.5rem; }
  .info-nav .nav__items {
    text-decoration-style: none;
    display: inline-block;
    border-top: 1px solid rgba(183, 178, 178, 0.961);
    line-height: 2rem;
    padding-top: 2rem; }
    .info-nav .nav__items .nav__item {
      padding-right: 0.3rem;
      display: inline-block;
      cursor: pointer;
      transition: all 0.2s; }
      .info-nav .nav__items .nav__item:hover {
        rotate: 20deg;
        scale: 1.5;
        color: #28b485; }

.copyright {
  flex: 0 0 30%;
  font-size: 1.4rem;
  height: 100%;
  display: inline-block;
  border-top: 1px solid rgba(183, 178, 178, 0.961);
  line-height: 2rem;
  padding-top: 2rem; }

.author {
  text-decoration: none;
  padding: 0 0.5rem;
  display: inline-block;
  color: white;
  font-size: 2rem;
  transition: all 0.2s; }
  .author:hover {
    transform: rotate(10deg) scale(1.2);
    color: #28b485; }

.navigation {
  position: relative; }
  .navigation .navigation-btn .nav__checkbox {
    display: none; }
  .navigation .navigation-btn .checkbox_label {
    position: fixed;
    right: 4rem;
    top: 4rem;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: white;
    z-index: 2000; }
  .navigation .navigation-btn .navigation__bg {
    display: inline-block;
    position: fixed;
    right: 4.5rem;
    top: 4.5rem;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: white;
    z-index: 1000;
    background-image: radial-gradient(#7ed56f 0%, #28b485 50%);
    transition: all 0.8s; }
  .navigation .navigation-btn .nav__checkbox:checked ~ .navigation__bg {
    scale: 80; }
  .navigation .navigation-btn .nav__checkbox:checked ~ .navigation__items {
    opacity: 1; }
  .navigation .navigation__items {
    opacity: 0;
    height: 100vh;
    width: 100%;
    transition: opacity 1s;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 1500;
    display: inline-block; }
    .navigation .navigation__items .nav__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      list-style: none;
      height: 100%;
      width: 100%; }
      .navigation .navigation__items .nav__list .nav__item {
        display: inline-block;
        padding: 3rem;
        line-height: 2rem;
        font-size: 2.5rem;
        color: white;
        transition: all 0.2s;
        background-image: linear-gradient(120deg, transparent 50%, white 50%);
        background-size: 235%; }
        .navigation .navigation__items .nav__list .nav__item:hover {
          color: #28b485;
          background-position: 100%;
          transform: translateX(1rem); }

.nav-btn__icon {
  display: inline-block;
  margin-left: 2rem; }
  .nav-btn__icon, .nav-btn__icon::before, .nav-btn__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #777;
    position: absolute;
    left: 0;
    top: 3.5rem;
    transition: all .3s; }
  .nav-btn__icon::before {
    content: '';
    top: -1rem; }
  .nav-btn__icon::after {
    content: '';
    top: 1rem; }

.nav__checkbox:checked ~ .checkbox_label .nav-btn__icon {
  background-color: transparent; }

.nav__checkbox:checked ~ .checkbox_label .nav-btn__icon::before {
  rotate: 135deg;
  top: 0; }

.nav__checkbox:checked ~ .checkbox_label .nav-btn__icon::after {
  rotate: -135deg;
  top: 0; }
