/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7%;
  padding: 30px;
  color: #777;
  background-color: #777;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right,
      rgba(128, 214, 113, 0.569),
      rgba(40, 180, 133, 0.761)
    ),
    url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative;
}

.logo-container {
  position: absolute;
  top: 20px;
  left: 20px;
}

.logo {
  height: 40px;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  line-height: 1.7;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;

  animation: moveInLeft 2s ease-out;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 15px;

  animation-name: moveInRight;
  animation-duration: 2s;
  animation-timing-function: ease-out;

}


@keyframes moveInLeft {
  0% {
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(20px);

  }

  100% {
    transform: translateX(0px);
  }
  
}

@keyframes moveInRight {
  0% {
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-20px);

  }

  100% {
    transform: translateX(0px);
  }
}