*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  padding: 3rem;
  background-color: #777;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  /* font-size: 1.6rem; */
  font-weight: 400;
  line-height: 1.7%;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  line-height: 1.7;
  margin-bottom: 5rem; }
  .heading-primary__main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 2s ease-out; }
  .heading-primary__sub {
    display: block;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1.5rem;
    animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-out; }

.secondary__heading {
  font-size: 3.5rem;
  display: inline-block;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #19f519, green);
  -webkit-background-clip: text;
  color: transparent;
  line-height: 3rem;
  margin-top: 20rem;
  transition: all .2s;
  margin-bottom: 8rem; }
  .secondary__heading:hover {
    transform: rotate(2deg);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.subpart__heading {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2rem;
  margin-bottom: 2rem; }

.paragrap {
  font-size: 1.5rem; }

.paragrap:not(:last-child) {
  margin-bottom: 3rem; }

@keyframes moveInLeft {
  0% {
    transform: translateX(-10rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    transform: translateX(0rem); } }

@keyframes moveInRight {
  0% {
    transform: translateX(10rem); }
  80% {
    transform: translateX(-2rem); }
  100% {
    transform: translateX(0rem); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  90% {
    opacity: 0.7;
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translateY(0rem); } }

.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5rem;
  display: inline-block;
  padding: 2rem;
  transition: all 0.3s;
  position: relative; }

.btn:hover {
  transform: translateY(-0.5rem);
  box-shadow: 1rem 1rem 2rem 0.7rem #a6a5a5; }
  .btn:hover::after {
    transform: scale(1.5);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0.5rem 0.5rem 2rem 0.3rem #a6a5a5; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #7ed56f;
  color: white; }
  .btn--green::after {
    background-color: #55c57a; }

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom 1s ease-out 1s backwards; }

.info-more:link, .info-more:visited {
  text-decoration: none;
  line-height: 1.5rem;
  font-size: 1.5rem;
  display: inline-block;
  color: #28b485;
  border-bottom: 1px solid #28b485;
  transition: all .2s; }

.info-more:hover {
  background-color: #7ed56f;
  transform: translateY(4px); }

.btn__book__tours {
  font-size: 1.5rem; }

.composition {
  position: relative;
  z-index: 10; }
  .composition__photos {
    width: 35%;
    position: absolute;
    outline-offset: 2rem;
    transition: all .2s;
    box-shadow: 2px 2px 1rem black; }
  .composition__photos--p1 {
    top: -1rem;
    left: 0; }
  .composition__photos--p2 {
    top: 2rem;
    left: 18rem; }
  .composition__photos--p3 {
    top: 10rem;
    left: 4rem; }
  .composition__photos:hover {
    z-index: 20;
    outline: 1rem solid #7ed56f;
    transform: scale(1.2) translateY(-2px);
    box-shadow: 3px 3px 1rem black; }

.cards {
  width: 100%;
  height: 50%; }
  .cards__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }

.card__item {
  position: relative;
  flex: 0 0 20%;
  margin-top: 2rem;
  perspective: 150rem;
  -webkit-perspective: 150rem;
  text-align: center; }
  .card__item:hover .card__item__front {
    transform: rotateY(-180deg); }
  .card__item:hover .card__item__back {
    transform: rotateY(0deg); }
  .card__item__side {
    left: 0;
    font-size: 2rem;
    width: 100%;
    top: 0;
    color: #2bb8b1;
    height: 30rem;
    backface-visibility: hidden;
    position: absolute;
    transition: all 2s;
    overflow: hidden;
    border-radius: 5px; }
    .card__item__side .card__image {
      background-size: cover;
      height: 15rem;
      width: 100%;
      background-blend-mode: color;
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
      .card__item__side .card__image--1 {
        background-image: linear-gradient(to right bottom, #ba9a0c, #ffef15), url("../img/nat-5.jpg"); }
      .card__item__side .card__image--2 {
        background-image: linear-gradient(to right bottom, #241b76, #8406f2), url("../img/nat-6.jpg"); }
      .card__item__side .card__image--3 {
        background-image: linear-gradient(to right bottom, #fc5c8c, #de00de), url("../img/nat-7.jpg"); }
    .card__item__side .card__heading {
      font-size: 2rem;
      font-weight: 300;
      position: absolute;
      color: white;
      width: 60%;
      top: 9rem;
      line-height: 2.4rem;
      right: 0rem;
      text-align: right; }
    .card__item__side .card__span {
      padding: 0.1rem 1.5rem;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone; }
      .card__item__side .card__span--1 {
        background-image: linear-gradient(to right bottom, #ba9a0c, #ffef15); }
      .card__item__side .card__span--2 {
        background-image: linear-gradient(to right bottom, #241b76, #8406f2); }
      .card__item__side .card__span--3 {
        background-image: linear-gradient(to right bottom, #de00de, #fc5c8c); }
  .card__item .card__detail ul {
    list-style: none;
    width: 80%;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1rem 0;
    color: black; }
    .card__item .card__detail ul li {
      height: 1.5rem;
      text-align: center;
      margin: 1rem;
      padding: 0.3rem 0.1rem; }
      .card__item .card__detail ul li:not(:last-child) {
        border-bottom: 1px solid lightgray; }
  .card__item__front {
    background-color: rgba(234, 230, 230, 0.968); }
  .card__item__back {
    transform: rotateY(180deg); }
  .card__item__back--c1 {
    background-image: linear-gradient(to right bottom, #ba9a0c, #ffef15); }
  .card__item__back--c2 {
    background-image: linear-gradient(to right bottom, #241b76, #8406f2); }
  .card__item__back--c3 {
    background-image: linear-gradient(to right bottom, #de00de, #fc5c8c); }

.card__cta {
  height: 30rem;
  padding: 5rem;
  color: white; }
  .card__cta__only {
    height: 4rem; }
  .card__cta__value {
    height: 4rem;
    font-weight: 400;
    font-size: 2.5rem;
    margin-bottom: 6rem; }
  .card__cta__book {
    height: 4rem; }

.tour__details {
  height: 90vh;
  background-color: #fff;
  margin-top: -15rem; }
  .tour__details-title {
    text-align: center; }
  .tour__details .tour__info {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .tour__details .tour__info .info__detail {
      flex: 0 0 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      height: 20rem;
      margin-left: 15rem; }
      .tour__details .tour__info .info__detail .detail-subpart {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        line-height: normal;
        flex-wrap: wrap; }
    .tour__details .tour__info .info__images {
      flex: 1; }

.features {
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.569), rgba(40, 180, 133, 0.761)), url("../img/hero.jpg");
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -13rem;
  height: 90vh;
  clip-path: polygon(0 19%, 100% 0, 100% 80%, 0 100%); }
  .features .feature__item {
    background-color: white;
    height: 40%;
    width: 22rem;
    margin: 10rem 3rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    transition: all .2s; }
    .features .feature__item:hover {
      transform: translateY(5px);
      box-shadow: 0 1rem 2rem black; }
    .features .feature__item__heading {
      flex: 0 0 15%;
      font-size: 2rem;
      line-height: 2rem;
      text-align: center;
      text-transform: uppercase;
      display: inline-block; }
    .features .feature__item__text {
      flex: 1;
      font-size: 1rem;
      line-height: 1.5rem;
      text-align: left;
      padding: 0 2rem; }
    .features .feature__item__icon {
      width: 5rem;
      height: 5rem;
      fill: #28b485;
      flex: 0 0 35%; }

.tours {
  height: 90vh;
  background-color: #fff;
  margin-top: -15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .tours .tour__title {
    text-align: center; }

.header {
  height: 90vh;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.569), rgba(40, 180, 133, 0.761)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative; }
  .header__logo-container {
    position: absolute;
    top: 2rem;
    left: 2rem; }
  .header__logo {
    height: 4rem; }
  .header__text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
