.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.card__item {
    position: relative;
    flex: 0 0 20%;
    margin-top: 2rem;
    transition: all .2s;
    perspective: 150rem;
    -webkit-perspective: 150rem;
    text-align: center;

    &:hover &__front{
     transform: rotateY(180deg);
 }
     &:hover &__back {
     transform: rotateY(0deg);
 }

 &__side {
    left: 0;
    font-size: 2rem;
    width: 100%;
    top: 0;
    height: 25rem;
    backface-visibility: hidden;
    position:absolute;
    transition: all .2s;
}

&__front {
    background-color: pink;    
}

&__back {
    background-color: green;
    transform: rotateY(180deg);
}
     // &__back--c1 {

     // }

     // &__back--c2 {
         
     // }

     // &__back--c3 {
         
     // }


} 