.cards {
  width: 100%;
  height: 50%;

  &__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.card__item {
  position: relative;
  flex: 0 0 20%;
  margin-top: 2rem;
  perspective: 150rem;
  -webkit-perspective: 150rem;
  text-align: center;

  &:hover &__front {
    transform: rotateY(-180deg);
  }
  &:hover &__back {
    transform: rotateY(0deg);
  }

  &__side {
    left: 0;
    font-size: 2rem;
    width: 100%;
    top: 0;
    color: rgb(43, 184, 177);
    height: 30rem;
    backface-visibility: hidden;
    position: absolute;
    transition: all 2s;
    overflow: hidden;
    border-radius: 5px;

    .card__image {
      background-size: cover;
      height: 15rem;
      width: 100%;
      background-blend-mode: color;
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

      &--1 {
        background-image: linear-gradient(
            to right bottom,
            $color-dark-yellow,
            $color-light-yellow
          ),
          url("../img/nat-5.jpg");
      }

      &--2 {
        background-image: linear-gradient(
            to right bottom,
            $color-dark-blue,
            $color-light-blue
          ),
          url("../img/nat-6.jpg");
      }

      &--3 {
        background-image: linear-gradient(
            to right bottom,
            $color-light-pink,
            $color-dark-pink
          ),
          url("../img/nat-7.jpg");
      }
    }

    .card__heading {
      font-size: 2rem;
      font-weight: 300;
      position: absolute;
      color: white;
      width: 60%;
      top: 9rem;
      line-height: 2.4rem;
      right: 0rem;
      text-align: right;
    }

    .card__span {
      padding: 0.1rem 1.5rem;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;

      &--1 {
        background-image: linear-gradient(
          to right bottom,
          $color-dark-yellow,
          $color-light-yellow
        );
      }
      &--2 {
        background-image: linear-gradient(
          to right bottom,
          $color-dark-blue,
          $color-light-blue
        );
      }
      &--3 {
        background-image: linear-gradient(
          to right bottom,
          $color-dark-pink,
          $color-light-pink
        );
      }
    }
  }

  .card__detail {
    ul {
      list-style: none;
      width: 80%;
      font-size: 1.2rem;
      margin: 0 auto;
      padding: 1rem 0;
      color: black;

      li {
        height: 1.5rem;
        text-align: center;
        margin: 1rem;
        padding: 0.3rem 0.1rem;

        &:not(:last-child) {
          border-bottom: 1px solid lightgray;
        }
      }
    }
  }

  &__front {
    background-color: rgba(234, 230, 230, 0.968);
  }

  &__back {
    transform: rotateY(180deg);
  }
  &__back--c1 {
    background-image: linear-gradient(
      to right bottom,
      $color-dark-yellow,
      $color-light-yellow
    );
  }

  &__back--c2 {
    background-image: linear-gradient(
      to right bottom,
      $color-dark-blue,
      $color-light-blue
    );
  }

  &__back--c3 {
    background-image: linear-gradient(
      to right bottom,
      $color-dark-pink,
      $color-light-pink
    );
  }
}

.card__cta {
    // width: 100%;
    height: 30rem;
    padding: 5rem;
    color: white;
  
    &__only {
        height: 4rem;
    }
    &__value {
        height: 4rem;
        font-weight: 400;
        font-size: 2.5rem;
        margin-bottom: 6rem;
    }
    &__book {
        height: 4rem;
    }


   
}


