.composition {
    position: relative;
    z-index: 10;
    

    &__photos{
        width: 35%;
        position: absolute;
        outline-offset: 2rem;
        transition: all .2s;
        box-shadow: 2px 2px 1rem black;
    }

    &__photos--p1 {
        top: -1rem;
        left: 0;
    }
    &__photos--p2{
        top: 2rem;
        left: 18rem;
    }
    &__photos--p3{
        top: 10rem;
        left: 4rem;
    }
    
    &__photos:hover {
        z-index: 20;
        outline: 1rem solid $primary-color-light;
        transform: scale(1.2) translateY(-2px);
        box-shadow: 3px 3px 1rem black;
    }

}